.userEdit
  .userEdit__head
    %p ユーザー情報編集
  .userEdit__main
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .userEdit__main__email
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", id: "formBox"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .userEdit__main__password
        = f.label :password, "新しいパスワード（７文字以上）"
        %br/
        = f.password_field :password, autocomplete: "new-password", id: "formBox"
      .userEdit__main__password_confirmation
        = f.label :password_confirmation, "パスワード再入力"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", id: "formBox"
      .userEdit__main__current_password
        = f.label :current_password
        %br/
        = f.password_field :current_password, autocomplete: "current-password", id: "formBox"
      .userEdit__main__btn
        = f.submit "更新する"
    %p
      #{button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, id: "delete"}
    = link_to "Back", :back, id: "back"
    .userEdit__main__logout
      =link_to "ログアウト", destroy_user_session_path, method: :delete

  = render 'layouts/footer' 
