.rsMain

  .rsMain__topWrapper
    .rsMain__topWrapper__left
      = link_to root_path do
        タクシー
        %br 呼ぶ
    .rsMain__topWrapper__right
      = link_to root_path do
        タクシー
        %br 予約

  .rsMain__secondWrapper
    .rsMain__secondWrapper__left
      = link_to root_path do
        ツアー参加
        %br 貸切予約
        
    .rsMain__secondWrapper__right
      = link_to root_path do
        ケアタク
        %br ママケア
        キッズケア

  .rsMain__thirdWrapper
    .rsMain__thirdWrapper__left
      = link_to root_path do
        お助け隊
        %br 依頼
    .rsMain__thirdWrapper__right
      = link_to root_path do
        クーポン
        %br 受け取り

  .rsMain__fourthWrapper
    .rsMain__fourthWrapper__left
      = link_to root_path do
        ポイント
        %br 残高
    .rsMain__fourthWrapper__right
      = link_to root_path do
        会員登録

= render 'layouts/footer'

